@font-face {
    font-family: container;
    src: url(./text_font/Dirooz.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: container;
}

body{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    width: 90%;
    margin: 10px;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.784);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #555;
}

h1{
    font-size: 1.5em;
    padding: 10px 15px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #00508d;
    margin-bottom: 30px;
    border-bottom: 4px solid #00508d;
}

p{
    width: 90%;
    direction: rtl;
    font-size: 0.9em;
    margin-bottom: 50px;
    color: #00508d;
}

.add_Packaje{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 350px;
    width: 95%;
    margin-bottom: 50px;
    position: relative;
}

input{
    border: 1px solid #0984e3;
    border-radius: 40px;
    padding: 8px;
    padding-right: 70px;
    width: 80%;
    color: black;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 1px;
    direction: rtl;
    position: absolute;
    left: 5px;
}

input:focus{
    outline: none;
    border: 1px solid #00508d;
}

button{
    padding: 8px;
    border: 1px solid #0984e3;
    border-radius: 40px;
    color: white;
    background-color: #0984e3;
    font-size: 1em;
    cursor: pointer;
    position: absolute;
    right: 5px;
    transition: 0.5s;
}

button:hover{
    background-color: #00508d;
}

button:active{
    color: black;
    background-color: #0984e3;
}

#list_items{
    border-radius: 10px;
    border: 2px solid #0984e3;
    width: 90%;
    padding: 20px;
    direction: rtl;
    color: #00508d;
    font-weight: bold;
    margin-bottom: 50px;
    position: relative;
    display: none;
}

#close_icon{
    position: absolute;
    left: 20px;
    top: 5px;
    cursor: pointer;
    display: none;
}

li{
    border-bottom: 2px solid #00508d;
    padding: 10px;
    margin-right: 20px;
    position: relative;
}
i{
    position: absolute;
    left: 5px;
}

.histore_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    background-color: rgb(211, 211, 211);
    max-width: 400px;
    width: 70%;
    padding: 10px;
    direction: rtl;
    margin-bottom: 50px;
    border-radius: 10px;
    display: none;
}

#list_items_histore{
    padding: 10px;
    width: 100%;
}

h5{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}